*{
    margin: 0;
}
@use "_header";
@use "_footer";
@use "_index";
@use "_financiamiento";
// privacidad
.mainPrivacidad{
    background-color: beige;
    h1, h2{
        text-align: center;
        padding: 10px;
    }
    p{
        margin: 5px 10px;
        padding: 50px 0;
    }
}
