@use "variables";
*{
    margin: 0;
    padding: 0;
}
html {font-size: 62.5;}

/* NAVBARRA*/

.navBarra {
        padding: 10px;
        background-color: rgb(35, 2, 46);
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        ul{
            li{
                @extend .boxshadow1;
                h1{
                    margin: 0;
                    @extend .boxshadow;
                    a{
                        margin: 0;
                        color: beige;
                        font-size: 25px;
                        font-family: "Montserrat", serif;
                        font-weight: 500;
                        box-shadow: 0px 15px 15px -20px silver;
                    }
                }
                a{
                    border-radius: 30px ;
                    text-decoration: none;
                    color: beige;
                    font-size: 18px;
                    font-family: "Montserrat", serif;
                    font-weight: 500;
                    
                }
            } 
        } 
    }
}


.frase{
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        background-color: black;
        color: beige;
        text-align: center;
        font-size: 20px;
        padding: 20px 0;
        margin: 0;
}

// index

.mainIndex{
    background-color: rgb(66, 76, 85);
    .imgBanner{
        @extend .width;
        img{
            @extend .width;
        }
    }
    h2{
        padding-top: 20px;
        color: black;
        background-color: silver;
        text-align: center;
    }
    .divColumnaIndex{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
            div{
                align-content: center;
                width: 600px;
                height: 400px;
                    img{
                        border-radius: 5px;
                        @extend .width;
                    }
            }
            p{
                font-family: "Montserrat", serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-style: normal;
                font-size: 20px;
                padding: 20px 0;
                font-weight: bold solid 50px;
                text-align: center;
            }
            .pChevrolet{
                background-color: rgb(236, 154, 41);
                @extend .width;
            }
            .pPeugeot {
                background-color: rgb(242, 247, 242);
                @extend .width;
            }
            .pFiat{
                background-color: rgb(168, 32, 26);
                @extend .width;
            }
            .pFord{
                background-color: rgb(16, 152, 247);
                @extend .width;;
            }
    }
    .finMainIndex{
        margin: 0 10px;
        padding: 10px 0;
        color: rgb(188, 189, 192);
        text-align: center;
    }
}

// privacidad

.mainPrivacidad{
    background-color: beige;
    h1, h2{
        text-align: center;
        padding: 10px;
    }
    p{
        margin: 5px 10px;
        padding: 5px 0;
    }
}

// contactos

.bodyContactos{
    background-color: rgba(26, 20, 35);
    .mainContactos{
        .contactanos{
            background-image: url(https://auto.ironhorse.ru/wp-content/uploads/2017/06/polo-6.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 550px;
            font-size: 60px;
            padding-left: 20px;
            color: white;
        }
    }
.sectionContactos{
    .formcontacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: white;
        margin: 20px 230px;
        div{
            h2{
                margin: 15px 30px;
            }
        }
        .formulario{
            @extend .width;
            ul{
                list-style: none;
                li{
                    margin: 20px 0;
                    box-shadow: white 300px;
                            input{
                        margin: 10px 0;
                        padding: 10px;
                        font-size: 15px;
                        width: 40%;
                        text-align: start
                    }
                }
            }
        }
        .divDos{
            h2{
                @extend .marginDivContactosH123p;
            }
            div{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                div {
                    p{
                        @extend .marginDivContactosH123p;
                    }
                }
            }
        }
        .divTres{
            h2{
                @extend .marginDivContactosH123p;
            }
        }
        .botonEnviar{
            font-size: 20px;
            margin: 10px;
            padding: 5px 10px;
            border-radius: 30px;
        }
    }
}
}

// financiamiento

.mainFinanciamiento{
    background-color: rgb(66, 76, 85);
    .tituloFin{
        text-align: center;
        font-family: "Roboto Slab", serif;
        font-optical-sizing: auto;
        font-weight: 300;
        background: silver;
        padding: 10px 0;}
    .divH2Fin{
        color: yellow;
        padding: 20px;}
    .divImgFinanciamiento{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
        @extend .width;
        height: 100%;
        font-size: 20px;
        text-align: center;
        padding: 15px 0;
        .col1{
            display: grid;
            grid-template-rows: 1fr 0.1fr ;
            gap: 15px;
            text-align: center;
                img{
                    @extend .width;
                    height: 100%;}
                .nombreYfinanciamiento {
                    font-size: 20px;
                    text-align: center;
                    padding: 15px 0;
                    margin: 0 10px;
                    background-color: rgb(24, 48, 89);}
                }
        }
        .parrafoFin{
            background-color: silver;
            margin: 0;
            padding: 10px;}
    section{
        .divNumerosFinanciamineto{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 20px;
            background-color: beige;
            .ctf{
                @extend .flexCentroFin;
                p{
                    font-size: 20px;
                }
                div{
                    .numeros{
                        font-size: 90px;
                        margin: 0;
                    }
                }
            }
            .centro{
                @extend .flexCentroFin;
                div{
                    p{
                        font-size: 20px;
                    }
                    div{
                        .numeros{
                            font-size: 30px;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

// modelos

.mainModelos{
    background-color: rgb(87, 85, 85);
    h1{
        text-decoration: none;
        font-size: 25px;
        font-family: "Montserrat", serif;
    }
    .sectionModelos{
        div{
            .cuadroModelos{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                gap: 30px;
                align-items: center;
                justify-items: center;
                .divImgModelos{
                    div{
                        background-color: rgb(6, 24, 38);
                        color: white;
                    }
                }
            }
        }
    }
}

// footer

footer{
    background-color: rgb(35, 2, 46);
    div{
        color: beige;        
        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            align-content: space-between;
            padding: 30px 0;
            margin: 0;
            text-align: center;
            list-style: none;
            li{
                padding: 0 20px;
                p{
                    font-size: 20px;
                    margin: 0;
                }
                a{
                    text-decoration: none;
                    font-size: 20px;
                    color: beige;
                }
            }
        }
    }
}

// mediaqueris

@media screen and (max-width: 750px) {
.frase{
    font-size: 15px;
}

// index

.mainIndex{
    .h2Index{
        font-size: 13px;
        padding: 5px 30px;
    }
    .divColumnaIndex{
        div{
            width: 400px;
        }
        p{
            margin: 0;
        }
    }
}

// contactos

.bodyContactos{
    .mainContactos{
        .contactanos{
            height: 300px;
            font-size: 30px;
        }
    }
    .sectionContactos{
        .formcontacto{
            margin: 20px;
        }
    }
}

// financiamiento

.mainFinanciamiento{
    .divImgFinanciamiento{
        display: inline;
        .col1{
            display: inline;
            .nombreYfinanciamiento{
                margin: 20px 0;
            }
        }
    }
    .parrafoFin{
        font-size: 15px;
    }
    section{
        .divNumerosFinanciamineto{
            display: flex;
            flex-direction: column;
            .ctf{
                div{
                    .numeros{
                        font-size: 70px;
                        padding: 20px 0;
                    }
                }
            }
            .centro{
                div{
                    div{    
                        .numeros{
                            text-align: center;
                            font-size: 25px;
                        }
                    }
                }
            }
                div{
                    .tea{
                        text-align: center;
                        margin: 20px 0;
                    }
                }
        }
    }
}

// modelos

.mainModelos{
    h1{
        font-size: 15px;
        padding: 10px;
    }
    .sectionModelos{
        div{
            .cuadroModelos{
                display: inline;
            }
        }
    }
}

/* footer */
footer{
    display: inline;
    div{
        ul{
            display: flex;
            flex-direction: column;
            gap: 25px;
            background-color: rgb(35, 2, 46);
        }
    }
}
}